/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  body{
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .header_content{
    max-width: 40%;
    height: auto;
    position: relative;
    top:55px;
    margin: auto;

    z-index: 1;
  }
  .header_content h1{
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    color: #2c3e50;
  }
  .animation {
    -webkit-animation-name: move;
            animation-name: move;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }

  .a1 {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }

  .body_content{
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
  }
  .footer_next_btns_content{
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
  }
  @-webkit-keyframes move {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-40px);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  @keyframes move {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-40px);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

.body_content{
   max-width: 50%;
    height: auto;
    position: relative;
    top:15%;
    margin: auto;

    z-index: 1;
}
.body_content .profile_img_content_loading{
  width: 160px;
  height: 150px;
  border-radius: 50%;

  position: relative;
  left: 6%;
  padding: 0;
  margin: auto;
}
.body_content .profile_img_content_loading img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0;
  position: relative;
  left: -28%;
  margin: auto;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);



.button-wrapper {
  position: relative;
  width:40px;
  top:-34px;
  left: 54%;
  text-align: center;

}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: #00bfff;
  cursor: pointer;
  color: #fff;
  border-radius:50%;
  padding: 8px 0;
  text-transform:uppercase;
  font-size:20px;
}

#inpFile {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.back_image_footer_content{
  width: 50%;
  height: 55vh;
  position: fixed;
  bottom: 0;
  left: 26%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  background-image: url('../img/img2.jpg');
  -webkit-animation-name: left;
  animation-name: left;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;

}
@-webkit-keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    padding: 20px 20px;
  }
}
@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    padding: 20px 20px;
  }
}

.footer_next_btns_content button{
  width: 150px;
  height: auto;
  position: fixed;
  bottom: -400px;
  right: 4%;
  padding-top: 15px;
  background-color: #3498db;
  color: #fff;
  border:none;
  font-size: 16px;
  padding-bottom: 15px;
}
.footer_next_btns_content i{
  margin-left: 4%;
}
